[buildout]
extends = http://svn.plone.org/svn/collective/buildout/plonetest/test-4.x.cfg
package-name = zest.specialpaste
parts += omelette


[versions]
collective.recipe.omelette = 0.12


[omelette]
recipe = collective.recipe.omelette
eggs = ${instance:eggs}
