[buildout]
# On Plone 3 it is not actually working.  But we may want to try it.
extends = http://svn.plone.org/svn/collective/buildout/plonetest/test-3.x.cfg
extensions += buildout.dumppickedversions
package-name = zest.specialpaste
test-eggs = zest.specialpaste[test]
parts +=
    coverage-report
    omelette


[versions]
collective.recipe.omelette = 0.12
buildout.dumppickedversions = 0.4

# For Plone 3:
plone.app.testing = 3.0a1
plone.testing = 3.0a2
distribute = 0.6.24
Products.CMFPlone = 4.0b1
unittest2 = 0.5.1


[omelette]
recipe = collective.recipe.omelette
eggs = ${instance:eggs}


# Coverage report generator.
# Run: ``bin/test --coverage=coverage``
# and then: ``bin/coveragereport``
[coverage-report]
recipe = zc.recipe.egg
eggs = z3c.coverage
scripts = coveragereport
arguments = ('parts/test/coverage', 'coverage')
